<div>



<h2>Detalle de las peliculas</h2>
<br>
<p> <strong>Titulo:</strong> {{movie.title}}</p>
<br>
<p>  <strong>Género:</strong> {{movie.genre}}</p>
<br>
<p> <strong>Trama:</strong> {{movie.plot}}</p>
<br>

{{#each movie.cast}}
<p> <strong>{{this.name}} es {{this.occupation}} y dice {{this.catchPhrase}}</strong></p>
{{/each}}


<form action="/movies/{{movie._id}}/delete" method="POST">

 <button>Borrar</button>

</form>

<form action="/movies/{{movie._id}}/edit">

 <button>Editar</button>

</form>



</div>